<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
</script>
<script>
    $(function(){
        $("#header").load("header.html");
        $("#footer").load("footer.html");
    });
</script>
<div id="header"></div>

%%=ContentAreaByName('my contents\30 Min Pre_approval\header')=%%


<!--[if lt IE 8]>
<body ontouchstart="" class="lt-ie8"><![endif]--><!--[if IE 8]>
<body ontouchstart="" class="ie8"><![endif]--><!--[if IE 9]>
<body ontouchstart="" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body ontouchstart="" onLoad=loadSprites()>
<!--<![endif]-->


<div class="full-body">


    <header class="header-navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="https://image.communications.macquarie.com/lib/fe5e15707d600d7c7310/m/1/macquarie-logo.png" style="height: 30px">
                </div>
            </div>
        </div>
    </header>


    <div class="container main-body main-div" style="">


        <div id="demo" class="carousel slide inside-main-div" data-ride="carousel" data-interval="false">

            <div class="row mt-4">
                <div class="col-md-12">
                    <h2>Let’s start with couple of simple things</h2>
                </div>
            </div>


            <!-- The slideshow -->
            <div class="carousel-inner">


                <div class="carousel-item active" id="first-carousel-item">

                    <div class="row mt-4">
                        <div class="col-md-12">

                            <div class="slds-progress">
                                <ol class="slds-progress__list">
                                    <li class="slds-progress__item slds-is-active">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 1 - Active</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 2 </span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 3 </span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 4 </span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 5 </span>
                                        </button>
                                    </li>
                                </ol>
                                <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0"
                                     aria-valuemax="100"
                                     aria-valuenow="0" role="progressbar">
                                    <span class="slds-progress-bar__value" style="width:0%">
                                    <span class="slds-assistive-text">Progress: 0%</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">

                        <div class="col-md-12">
                            <fieldset class="slds-form-element">
                                <legend class="slds-form-element__legend slds-form-element__label">Are you looking to
                                    buy a new home or are you refinancing your existing one?
                                </legend>
                                <div class="slds-form-element__control">
                                    <div class="slds-radio_button-group">
                                            <span class="slds-button slds-radio_button">
                                            <input name="refinanceOrBuy" type="radio" id="buying" value="buying"
                                                   onclick="checkRefinanceOrBuy(this)"/>
                                            <label class="slds-radio_button__label" for="buying">
                                            <span class="slds-radio_faux">I'm buying</span>
                                            </label>
                                            </span>
                                        <span class="slds-button slds-radio_button">
                                            <input name="refinanceOrBuy" type="radio" id="refinance" value="refinance"
                                                   onclick="checkRefinanceOrBuy(this)"/>
                                            <label class="slds-radio_button__label" for="refinance">
                                            <span class="slds-radio_faux">I'm refinancing</span>
                                            </label>
                                            </span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" id="second-carousel-item">

                    <div class="row mt-4">
                        <div class="col-md-12">

                            <div class="slds-progress">
                                <ol class="slds-progress__list">
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 1 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-active">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 2 - Active </span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item ">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 3 </span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 4 </span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 5 </span>
                                        </button>
                                    </li>
                                </ol>
                                <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0"
                                     aria-valuemax="100"
                                     aria-valuenow="0" role="progressbar">
                                    <span class="slds-progress-bar__value" style="width:0%">
                                    <span class="slds-assistive-text">Progress: 0%</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">


                        <div id="buyingField">
                            <div class="col-md-12">
                                <fieldset class="slds-form-element">
                                    <legend class="slds-form-element__legend slds-form-element__label">Have you found a
                                        property yet?
                                    </legend>
                                    <div class="slds-form-element__control">
                                        <div class="slds-radio_button-group">
                                            <span class="slds-button slds-radio_button">
                                            <input name="propertyFoundYet" type="radio" id="foundPropertyYes"
                                                   value="foundPropertyYes" onclick="checkPropertyBought(this)"/>
                                            <label class="slds-radio_button__label" for="foundPropertyYes">
                                            <span class="slds-radio_faux">Yes</span>
                                            </label>
                                            </span>
                                            <span class="slds-button slds-radio_button">
                                            <input name="propertyFoundYet" type="radio" id="foundPropertyNo"
                                                   value="foundPropertyNo" onclick="checkPropertyBought(this)"/>
                                            <label class="slds-radio_button__label" for="foundPropertyNo">
                                            <span class="slds-radio_faux">No</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>


                        <div id="refinanceFields" style="display: none">

                            <div class="row">
                                <div class="col-md-12 ">
                                    <fieldset class="slds-form-element addedPadding20">
                                        <legend class="slds-form-element__legend slds-form-element__label">Address of the
                                            property that either you are interested in or your own?
                                        </legend>
                                        <div class="slds-form-element__control">
                                            <input id="property_address" name="property_address" class="slds-input" type="text" value=""
                                                   placeholder="Enter address"/>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

                <div class="carousel-item" id="fourth-carousel-item">

                    <div class="row mt-4">
                        <div class="col-md-12">

                            <div class="slds-progress">
                                <ol class="slds-progress__list">
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 1 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 2 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-active">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 3 - Active </span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 4 </span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 5 </span>
                                        </button>
                                    </li>
                                </ol>
                                <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0"
                                     aria-valuemax="100"
                                     aria-valuenow="0" role="progressbar">
                                    <span class="slds-progress-bar__value" style="width:0%">
                                    <span class="slds-assistive-text">Progress: 0%</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">


                        <div id="foundPropertyNoFields">

                            <div class="col-md-12">
                                <fieldset class="slds-form-element">
                                    <legend class="slds-form-element__legend slds-form-element__label">Estimated value of
                                        your property?
                                    </legend>
                                    <div class="slds-form-element__control">
                                        <input id="value_of_the_property" name="value_of_the_property" onchange="updateValueOfTheProperty(this)" class="slds-input" type="text" value="" pattern="[0-9]{4,13}"
                                               placeholder="$"/>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div id="foundPropertyYesFields" style="display: none">

                            <div class="col-md-12">
                                <fieldset class="slds-form-element">
                                    <legend class="slds-form-element__legend slds-form-element__label">Whats the value of
                                        the property?
                                    </legend>
                                    <div class="slds-form-element__control">
                                        <input id="value_of_the_Property_refi" name="value_of_the_Property_refi" class="slds-input" onchange="updateValueOfTheProperty(this)" type="text" value="" pattern="[0-9]{4,13}"
                                               placeholder="$"/>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend class="slds-form-element__legend slds-form-element__label">How do you intend to
                                        use this property?
                                    </legend>
                                    <div class="slds-form-element__control">
                                        <div class="slds-radio_button-group">
                                            <span class="slds-button slds-radio_button">
                                            <input name="intentionProperty" type="radio" id="toLiveIn"
                                                   value="toLiveIn"/>
                                            <label class="slds-radio_button__label" for="toLiveIn">
                                            <span class="slds-radio_faux">To live in</span>
                                            </label>
                                            </span>
                                            <span class="slds-button slds-radio_button">
                                            <input name="intentionProperty" type="radio" id="investment"
                                                   value="investment"/>
                                            <label class="slds-radio_button__label" for="investment">
                                            <span class="slds-radio_faux">Investment</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </div>

                    </div>

                </div>




                <div class="carousel-item mb-5" id="sixth-carousel-item">


                    <div class="row mt-4">
                        <div class="col-md-12">

                            <div class="slds-progress">
                                <ol class="slds-progress__list">
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 1 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 2 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 3 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-active">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 4 - Active </span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 5 </span>
                                        </button>
                                    </li>
                                </ol>
                                <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0"
                                     aria-valuemax="100"
                                     aria-valuenow="0" role="progressbar">
                                    <span class="slds-progress-bar__value" style="width:0%">
                                    <span class="slds-assistive-text">Progress: 0%</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">

                        <div class="col-md-12">
                            <fieldset class="slds-form-element">
                                <legend class="slds-form-element__legend slds-form-element__label">How much would you
                                    like to borrow?
                                </legend>
                                <div class="slds-form-element__control">

                                    <input id="text-input-id-1" class="slds-input" type="text" value="" pattern="[0-9]{4,13}"
                                           placeholder="$" onchange="updateBorrowingAmount(this)"/>

                                </div>
                            </fieldset>
                            <fieldset>
                                <legend class="slds-form-element__legend slds-form-element__label">Your preferred
                                    repayment type?
                                </legend>
                                <div class="slds-form-element__control">
                                    <div class="slds-radio_button-group">
                                            <span class="slds-button slds-radio_button">
                                            <input name="repaymentType" type="radio" id="interestOnly"
                                                   value="interestOnly" onchange="updateRepaymentType(this)"/>
                                            <label class="slds-radio_button__label" for="interestOnly">
                                            <span class="slds-radio_faux reduced-font-size">Interest only</span>
                                            </label>
                                            </span>
                                        <span class="slds-button slds-radio_button">
                                            <input name="repaymentType" type="radio" id="PrincipalInterest"
                                                   value="PrincipalInterest" onchange="updateRepaymentType(this)"/>
                                            <label class="slds-radio_button__label" for="PrincipalInterest">
                                            <span class="slds-radio_faux reduced-font-size">Principal & Interest</span>
                                            </label>
                                            </span>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend class="slds-form-element__legend slds-form-element__label">Your preferred loan
                                    structure?
                                </legend>
                                <div class="slds-form-element__control">
                                    <div class="slds-radio_button-group">
                                            <span class="slds-button slds-radio_button">
                                            <input name="loanStructure" type="radio" id="fixedHL" value="fixedHL" onchange="updatePaymenyStructure(this)"/>
                                            <label class="slds-radio_button__label" for="fixedHL" >
                                            <span class="slds-radio_faux">Fixed</span>
                                            </label>
                                            </span>
                                        <span class="slds-button slds-radio_button">
                                            <input name="loanStructure" type="radio" id="variableHL"
                                                   value="variableHL" onchange="updatePaymenyStructure(this)"/>
                                            <label class="slds-radio_button__label" for="variableHL">
                                            <span class="slds-radio_faux">Variable</span>
                                            </label>
                                            </span>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend class="slds-form-element__legend slds-form-element__label">Would you like an
                                    offset loan?
                                </legend>
                                <div class="slds-form-element__control">
                                    <div class="slds-radio_button-group">
                                            <span class="slds-button slds-radio_button">
                                            <input name="offsetLoan" type="radio" id="offsetYes" value="offsetYes" onchange="updateTypeOfLoan(this)"/>
                                            <label class="slds-radio_button__label" for="offsetYes">
                                            <span class="slds-radio_faux">Yes</span>
                                            </label>
                                            </span>
                                        <span class="slds-button slds-radio_button">
                                            <input name="offsetLoan" type="radio" id="offsetNo" value="offsetNo" onchange="updateTypeOfLoan(this)"/>
                                            <label class="slds-radio_button__label" for="offsetNo">
                                            <span class="slds-radio_faux">No</span>
                                            </label>
                                            </span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>


                <div class="carousel-item mb-5" id="seventh-carousel-item">


                    <div class="row mt-4">
                        <div class="col-md-12">

                            <div class="slds-progress">
                                <ol class="slds-progress__list">
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 1 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 2 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 3 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 4 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-active">
                                        <button class="slds-button slds-progress__marker">
                                            <span class="slds-assistive-text">Step 5 - Active </span>
                                        </button>
                                    </li>
                                </ol>
                                <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0"
                                     aria-valuemax="100"
                                     aria-valuenow="0" role="progressbar">
                                    <span class="slds-progress-bar__value" style="width:0%">
                                    <span class="slds-assistive-text">Progress: 0%</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">

                        <div class="col-md-12">

                            <div class="row rowWithFullWidth">
                                <div class="col-md-6 col-xs-6 addMarginBack padding-none-alld">
                                    <h3>Summary</h3>
                                </div>
                                <div class="col-md-6 col-xs-6 rowWithFullWidth" style="text-align: right">
                                    <a class="slds-button slds-button_outline-brand" href="#">
                                        Edit
                                    </a>
                                </div>
                            </div>


                            <div class="summary-table">
                                <!--<div class="row addedPadding">-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
                                        <!--Borrowing amount-->
                                    <!--</div>-->
                                    <!--<div class="col-md-8 col-sm-8 col-xs-8">-->
                                        <!--$1,000,000-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row background-color-grey-row addedPadding">-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
                                        <!--Property value-->
                                    <!--</div>-->
                                    <!--<div class="col-md-8 col-sm-8 col-xs-8">-->
                                        <!--$1,800,000-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row addedPadding">-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
                                        <!--Loan type-->
                                    <!--</div>-->
                                    <!--<div class="col-md-8 col-sm-8 col-xs-8">-->
                                        <!--Interest only-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row background-color-grey-row addedPadding">-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
                                        <!--Repayment type-->
                                    <!--</div>-->
                                    <!--<div class="col-md-8 col-sm-8 col-xs-8">-->
                                        <!--Fixed-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row addedPadding">-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
                                        <!--Offset-->
                                    <!--</div>-->
                                    <!--<div class="col-md-8 col-sm-8 col-xs-8">-->
                                        <!--No-->
                                    <!--</div>-->
                                <!--</div>-->

                                <div class="row addedPadding">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        Borrowing amount
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" value="Fixed" readonly="readonly" name="borrowing_amount_second_final_screen" id="borrowing_amount_second_final_screen">

                                    </div>
                                </div>
                                <div class="row background-color-grey-row addedPadding">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        Property value
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" value="Fixed" readonly="readonly" name="property_value_second_final_screen" id="property_value_second_final_screen">
                                    </div>
                                </div>

                                <div class="row addedPadding">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        Loan type
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" value="Fixed" readonly="readonly" name="loan_type_second_final_screen" id="loan_type_second_final_screen">
                                    </div>
                                </div>

                                <div class="row background-color-grey-row addedPadding">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        Repayment type
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" value="Fixed" readonly="readonly" name="payment_type_second_final_screen" id="payment_type_second_final_screen">
                                    </div>
                                </div>

                                <div class="row addedPadding">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        Offset
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" value="no" readonly="readonly" name="offset_second_final_screen" id="offset_second_final_screen">
                                    </div>
                                </div>

                            </div>


                            <div class="row rowWithFullWidth mt-4">
                                <div class="col-md-12 col-xs-12 addMarginBack padding-none-alld">
                                    <h3>Your options</h3>
                                </div>
                            </div>


                            <div class="summary-table-blue">
                                <div class="row addedPadding">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        LVR
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        75%
                                    </div>
                                </div>
                                <div class="row background-color-blue-row addedPadding">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        Rate
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8 add-wrap-again">
                                        <div class="row ">
                                            <div class="col-md-6 col-sm-6 col-xs-6"><h2>3.89<sup>%pa</sup></h2><h5>
                                                Variable rate</h5></div>
                                            <div class="col-md-6 col-sm-6 col-xs-6"><h2>3.89<sup>%pa</sup></h2><h5>
                                                Comparison rate*</h5></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>The comparison rates are based on a loan for $150,000 and a term of
                                                    25 years.</h5>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row addedPadding">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        Repayments
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>As an owner occupier your repayments will be.</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2>$2,315<span style="font-size:.4em">/month</span></h2>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>


                            <div class="row rowWithFullWidth mt-4">
                                <div class="col-md-12 col-xs-12 rowWithFullWidth" style="text-align: center">
                                    <a class="slds-button slds-button_outline-brand" href="#">
                                        See other options
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>


                <div class="carousel-item mb-5" id="eigth-carousel-item">


                    <div class="row mt-4">
                        <div class="col-md-12">

                            <div class="slds-progress">
                                <ol class="slds-progress__list">
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 1 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 2 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 3 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 4 - Completed</span>
                                        </button>
                                    </li>
                                    <li class="slds-progress__item slds-is-completed">
                                        <button class="slds-button slds-button_icon slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                title="Step 1 - Completed">
                                            <svg class="slds-button__icon slds-icon_small" aria-hidden="true">
                                                <use xlink:href="#success"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Step 5 - Completed</span>
                                        </button>
                                    </li>
                                </ol>
                                <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0"
                                     aria-valuemax="100"
                                     aria-valuenow="0" role="progressbar">
                                    <span class="slds-progress-bar__value" style="width:0%">
                                    <span class="slds-assistive-text">Progress: 0%</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4 rowWithFullWidth">

                        <form action="https://pages.exacttarget.com/About-you/" method="post">
                            <div class="col-md-12">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">First name</label>
                                            <div class="slds-form-element__control">
                                                <input id="firstName" name="firstName" class="slds-input" name="FirstName" type="text" value=""/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">last name</label>
                                            <div class="slds-form-element__control">
                                                <input id="lastName" name="lastName" class="slds-input" name="LastName" type="text" value=""/>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">Email
                                                address</label>
                                            <div class="slds-form-element__control">
                                                <input id="emailAddress" name="emailAddress" class="slds-input" type="email" name="Email" value=""/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">Mobile</label>
                                            <div class="slds-form-element__control">
                                                <input id="phoneNumber" name="phoneNumber" class="slds-input" type="number" name="MobilePhone">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1" name="">Password</label>
                                            <div class="slds-form-element__control">
                                                <input id="password" name="password" class="slds-input" type="password" name="password__c" value=""/>
                                            </div>
                                        </div>
                                    </div>

                                    <input  hidden="" name="Loan_amount2__c" value="1000000"/>
                                    <input  hidden="" name="Estimated_Market_Value__c" value="1800000"/>
                                    <input  hidden="" name="Loantype" value="Interest Only"/>
                                    <input  hidden="" name="Repaymenttype" value="Fixed"/>
                                    <input  hidden="" name="Offset" value="No"/>
                                    <input  hidden="" name="LVR" value="75"/>
                                    <input  hidden="" name="rate" value="3.89"/>
                                    <input  hidden="" name="cmprate" value="3.89"/>
                                    <input  hidden="" name="Repayments" value="2315"/>
                                    <div class="col-md-6">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">Confirm
                                                Password</label>
                                            <div class="slds-form-element__control">
                                                <input id="confirm-password" name="confirm-password" class="slds-input" type="password" value=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 25px;" class="col-md-12 text-center">
                                    <button type="submit" class="slds-button slds-button_brand next-button-right" >
                                        Submit
                                    </button>
                                </div>
                        </form>
                        <div class="row rowWithFullWidth">
                            <div class="col-md-6 col-xs-6 addMarginBack padding-none-alld">
                                <h3>&nbsp;</h3>
                            </div>
                            <div class="col-md-6 col-xs-6 rowWithFullWidth" style="text-align: right">

                            </div>
                        </div>


                        <div class="row rowWithFullWidth">
                            <div class="col-md-6 col-xs-6 addMarginBack padding-none-alld">
                                <h3>Summary</h3>
                            </div>
                            <div class="col-md-6 col-xs-6 rowWithFullWidth" style="text-align: right">

                            </div>
                        </div>


                        <div class="summary-table">
                            <div class="row addedPadding">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    Borrowing amount
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <input type="text" value="Fixed" readonly="readonly" name="borrowing_amount_final_screen" id="borrowing_amount_final_screen">

                                </div>
                            </div>
                            <div class="row background-color-grey-row addedPadding">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    Property value
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <input type="text" value="Fixed" readonly="readonly" name="property_value_final_screen" id="property_value_final_screen">
                                </div>
                            </div>

                            <div class="row addedPadding">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    Loan type
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <input type="text" value="Fixed" readonly="readonly" name="loan_type_final_screen" id="loan_type_final_screen">
                                </div>
                            </div>

                            <div class="row background-color-grey-row addedPadding">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    Repayment type
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <input type="text" value="Fixed" readonly="readonly" name="payment_type_final_screen" id="payment_type_final_screen">
                                </div>
                            </div>

                            <div class="row addedPadding">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    Offset
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <input type="text" value="no" readonly="readonly" name="offset_final_screen" id="offset_final_screen">
                                </div>
                            </div>

                            <div class="row background-color-grey-row addedPadding">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    LVR
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    75%
                                </div>
                            </div>
                            <div class="row addedPadding">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    Rate
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="row add-wrap-again">
                                        <div class="col-md-6 col-sm-12 col-xs-12"><h4>3.89<sup>%pa</sup></h4><h5>
                                            Variable rate</h5></div>
                                        <div class="col-md-6 col-sm-12 col-xs-12"><h4>3.89<sup>%pa</sup></h4><h5>
                                            Comparison rate*</h5></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row background-color-grey-row addedPadding">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    Repayments
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>$2,315<span style="font-size:.4em">/month</span></h4>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>


                </div>

            </div>


        </div>
        <div class="row previous-next-buttons mt-4">
            <!-- Left and right controls -->
            <div class="col-md-3 col-sm-4 col-xs-4 pull-left">
                <a class="slds-button slds-button_neutral" href="#demo" data-slide="prev">
                    Previous
                </a>
            </div>
            <div class="col-md-4 hidden-md-down">&nbsp;</div>
            <div class="col-md-2 col-sm-4  col-xs-4 pull-right">
                <a class="slds-button slds-button_brand next-button-right" href="#demo" data-slide="next">
                    Next
                </a>
            </div>
        </div>
    </div>


</div>


<script>
    function updateValueOfTheProperty(elm){


        if(elm.value != ""){
            document.getElementById('property_value_final_screen').value = "$"+elm.value;
            document.getElementById('property_value_second_final_screen').value = "$"+elm.value;
        } else {
            document.getElementById('property_value_final_screen').value = "n/a";
            document.getElementById('property_value_second_final_screen').value = "n/a";
        }
    }

    function updateRepaymentType(elm){

        if (elm.value == "interestOnly"){
            document.getElementById('loan_type_final_screen').value = 'Interest only';
            document.getElementById('loan_type_second_final_screen').value = 'Interest only';
        } else if (elm.value == "PrincipalInterest"){
            document.getElementById('loan_type_final_screen').value = 'Principal and Interest';
            document.getElementById('loan_type_second_final_screen').value = 'Principal and Interest';
        } else
         {
            document.getElementById('loan_type_final_screen').value = 'n/a';
            document.getElementById('loan_type_second_final_screen').value = 'n/a';
        }
    }

    function updatePaymenyStructure(elm){

        if (elm.value == "fixedHL"){
            document.getElementById('payment_type_final_screen').value = 'Fixed';
            document.getElementById('payment_type_second_final_screen').value = 'Fixed';
        } else if (elm.value == "variableHL"){
            document.getElementById('payment_type_final_screen').value = 'Variable';
            document.getElementById('payment_type_second_final_screen').value = 'Variable';
        } else
        {
            document.getElementById('payment_type_final_screen').value = 'n/a';
            document.getElementById('payment_type_second_final_screen').value = 'n/a';
        }
    }

    function updateTypeOfLoan(elm){

        if (elm.value == "offsetYes"){
            document.getElementById('offset_final_screen').value = 'Yes';
            document.getElementById('offset_second_final_screen').value = 'Yes';
        } else if (elm.value == "offsetNo"){
            document.getElementById('offset_final_screen').value = 'No';
            document.getElementById('offset_second_final_screen').value = 'No';
        } else
        {
            document.getElementById('offset_final_screen').value = 'n/a';
            document.getElementById('offset_second_final_screen').value = 'n/a';
        }
    }

    function updateBorrowingAmount(elm){



        if(elm.value != ""){
            document.getElementById('borrowing_amount_final_screen').value = "$"+elm.value;
            document.getElementById('borrowing_amount_second_final_screen').value = "$"+elm.value;
        } else {
            document.getElementById('borrowing_amount_final_screen').value = "n/a";
            document.getElementById('borrowing_amount_second_final_screen').value = "n/a";
        }
    }
</script>



%%=ContentAreaByName('my contents\30 Min Pre_approval\Footer')=%%

<div id="footer"></div>



</html>

