<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
</script>
<script>
    $(function(){
        $("#header").load("header.html");
        $("#footer").load("footer.html");
    });
</script>
<div id="header"></div>

%%=ContentAreaByName('my contents\30 Min Pre_approval\header')=%%


        <script>

        function showFirstHeader() {

            document.getElementById("chevron-down").style.display = 'block'
            document.getElementById("chevron-left").style.display = 'none'
            document.getElementById("mobile-menu-header-1").style.display = 'block'

        }

        function hideFirstHeader() {

            document.getElementById("chevron-left").style.display = 'block'
            document.getElementById("chevron-down").style.display = 'none'
            document.getElementById("mobile-menu-header-1").style.display = 'none'
        }


        function showSecondHeader() {

            document.getElementById("chevron-second-down").style.display = 'block'
            document.getElementById("chevron-second-left").style.display = 'none'
            document.getElementById("mobile-menu-header-2").style.display = 'block'

        }

        function hideSecondHeader() {

            document.getElementById("chevron-second-left").style.display = 'block'
            document.getElementById("chevron-second-down").style.display = 'none'
            document.getElementById("mobile-menu-header-2").style.display = 'none'
        }

        function toggleIcon(elm) {

            var currentClassList = document.getElementById(elm).classList;

            if (String(currentClassList).indexOf("slds-is-open") !== -1) {

                document.getElementById(elm).classList = "slds-accordion__section";

            } else {
                document.getElementById(elm).classList = "slds-accordion__section slds-is-open";

            }
        }


        function addDivElements() {

            var currentCounter = document.getElementById("counter-employment").value;

            currentCounter = parseInt(currentCounter) + 1;
            var txt = "                                        <div id=\"duplicater" + currentCounter + "\">\n" +
                "                                            <div class=\"row flexWrap\">\n" +
                "\n" +
                "                                                <input type=\"hidden\" id=\"counter-employment\" value=\"0\">\n" +
                "\n" +
                "                                                <div class=\"col-md-4\">\n" +
                "                                                    <div class=\"slds-form-element\">\n" +
                "                                                        <label class=\"slds-form-element__label\"\n" +
                "                                                               for=\"select-0\"+currentCounter+\"\">Primary purpose</label>\n" +
                "                                                        <div class=\"slds-form-element__control\">\n" +
                "                                                            <div class=\"slds-select_container\">\n" +
                "                                                                <select class=\"slds-select\" id=\"select-0\"+currentCounter+\"\">\n" +
                "                                                                    <option value=\"\">Please select</option>\n" +
                "                                                                    <option>Option One</option>\n" +
                "                                                                    <option>Option Two</option>\n" +
                "                                                                    <option>Option Three</option>\n" +
                "                                                                </select>\n" +
                "                                                            </div>\n" +
                "                                                        </div>\n" +
                "                                                    </div>\n" +
                "                                                </div>\n" +
                "\n" +
                "                                                <div class=\"col-md-6\">\n" +
                "                                                    <div class=\"slds-form-element\">\n" +
                "                                                        <label class=\"slds-form-element__label\" for=\"text-input-id-\"+currentCounter+\"\">Property\n" +
                "                                                            address</label>\n" +
                "                                                        <div class=\"slds-form-element__control\">\n" +
                "                                                            <input id=\"text-input-id-\"+currentCounter+\"\" class=\"slds-input\" type=\"text\"\n" +
                "                                                                   value=\"\"\n" +
                "                                                                   placeholder=\"Unit, Street no., Suburb, State\"/>\n" +
                "                                                        </div>\n" +
                "                                                    </div>\n" +
                "                                                </div>\n" +
                "\n" +
                "                                                <div class=\"col-md-2 text-right input-group-btn\">\n" +
                "                                                    <button type=\"button\" class=\"btn btn-danger remove remove-another-button\" type=\"button\" onclick=\"removeThisRow(this)\" name=\"button-duplicater" + currentCounter + "\"><i class=\"glyphicon glyphicon-remove\"></i>\n" +
                "                                                        Remove\n" +
                "                                                    </button>\n" +
                "                                                </div>\n" +
                "\n" +
                "                                            </div>\n" +
                "\n" +
                "\n" +
                "                                        </div>\n";

            $('#addAnotherButton').before(txt);

            document.getElementById("counter-employment").value = currentCounter;

        }


        function removeThisRow(elm) {

            var name = elm.getAttribute("name");
            name = "#" + name.replace('button-', '');

            $(name).remove();
        }


        function addAddressDivElements(elm) {

            var name = elm.getAttribute("name");
            var attributename = name + "-counter-address";

            var currentCounterEmp = document.getElementById(attributename).value;
            currentCounterEmp = parseInt(currentCounterEmp) + 1;

            var txt = "                                            <div id=\"" + name + "-" + currentCounterEmp + "\">\n" +
                "                                                <div class=\"row flexWrap\">\n" +
                "\n" +
                "\n" +
                "                                                    <div class=\"col-md-3\">\n" +
                "                                                        <div class=\"slds-form-element\">\n" +
                "                                                            <label class=\"slds-form-element__label\"\n" +
                "                                                                   for=\"text-input-id-" + currentCounterEmp + "\">Details</label>\n" +
                "                                                            <div class=\"slds-form-element__control\">\n" +
                "                                                                <input id=\"text-input-id-" + currentCounterEmp + "\" class=\"slds-input\"\n" +
                "                                                                       type=\"text\"\n" +
                "                                                                       value=\"\"/>\n" +
                "                                                            </div>\n" +
                "                                                        </div>\n" +
                "                                                    </div>\n" +
                "                                                    <div class=\"col-md-3\">\n" +
                "                                                        <div class=\"slds-form-element\">\n" +
                "                                                            <label class=\"slds-form-element__label\" for=\"select-0" + currentCounterEmp + "\">Value\n" +
                "                                                                basis</label>\n" +
                "                                                            <div class=\"slds-form-element__control\">\n" +
                "                                                                <div class=\"slds-select_container\">\n" +
                "                                                                    <select class=\"slds-select\" id=\"select-0" + currentCounterEmp + "\">\n" +
                "                                                                        <option value=\"\">Please select</option>\n" +
                "                                                                        <option>Option One</option>\n" +
                "                                                                        <option>Option Two</option>\n" +
                "                                                                        <option>Option Three</option>\n" +
                "                                                                    </select>\n" +
                "                                                                </div>\n" +
                "                                                            </div>\n" +
                "                                                        </div>\n" +
                "                                                    </div>\n" +
                "                                                    <div class=\"col-md-3\">\n" +
                "\n" +
                "                                                        <div class=\"slds-form-element\">\n" +
                "                                                            <label class=\"slds-form-element__label\"\n" +
                "                                                                   for=\"text-input-id-" + currentCounterEmp + "\">Value</label>\n" +
                "                                                            <div class=\"slds-form-element__control\">\n" +
                "                                                                <input id=\"text-input-id-" + currentCounterEmp + "\" class=\"slds-input\"\n" +
                "                                                                       type=\"text\"\n" +
                "                                                                       value=\"\" placeholder=\"$\"/>\n" +
                "                                                            </div>\n" +
                "                                                        </div>\n" +
                "                                                    </div>\n" +
                "\n" +
                "                                                    <div class=\"col-md-3\">\n" +
                "                                                        <div class=\"input-group-btn\">\n" +
                "                                                            <button type=\"button\" class=\"btn btn-danger remove remove-another-button\"\n" +
                "                                                                    type=\"button\"\n" +
                "                                                                    onclick=\"removeAddressDetailsRow(this)\"\n" +
                "                                                                    name=\"button-e-residential-" + name + "-" + currentCounterEmp + "\">Remove\n" +
                "                                                            </button>\n" +
                "                                                        </div>\n" +
                "\n" +
                "\n" +
                "                                                    </div>\n" +
                "\n" +
                "\n" +
                "                                                </div>\n" +
                "                                            </div>";

            var elementname = "#" + "residential-bottom-" + name;
            $(elementname).after(txt);

            document.getElementById(attributename).value = currentCounterEmp;

        }

        function hideAddressFields() {
            document.getElementById("duplicater0").style.display = "none";
            document.getElementById("addAnotherButton").style.display = "none";
        }

        function showAddressFields() {
            document.getElementById("duplicater0").style.display = "block";
            document.getElementById("addAnotherButton").style.display = "block";
        }

        function removeAddressDetailsRow(elm) {
            var name = elm.getAttribute("name");
            name = "#" + name.replace('button-e-residential-', '');
            $(name).remove();
        }


        function createAssets(elm) {


            var name = elm.getAttribute("name");


            if (elm.classList.contains('slds-button_brand')) {
                elm.classList = "slds-button slds-button_outline-brand select-button-style";
                var naming = "#" + name.replace(/\s/g, '') + "-div";
                $(naming).remove();

            } else {
                elm.classList = "slds-button slds-button_brand select-button-style";


                var full_name = name;

                name = name.replace(/\s/g, '');

                var text = "<div id=\"" + name + "-div\">\n" +
                    "\n" +
                    "                                            <input type=\"hidden\" id=\"" + name + "-counter-address\" value=\"0\">\n" +
                    "                                            <div class=\"row flexWrap mt-4\">\n" +
                    "\n" +
                    "                                                <div class=\"col-md-12\">\n" +
                    "                                                    <h3>" + full_name + "</h3>\n" +
                    "                                                </div>\n" +
                    "\n" +
                    "                                            </div>\n" +
                    "\n" +
                    "                                            <div class=\"row flexWrap\">\n" +
                    "\n" +
                    "\n" +
                    "                                                <div class=\"col-md-3\">\n" +
                    "                                                    <div class=\"slds-form-element\">\n" +
                    "                                                        <label class=\"slds-form-element__label\" for=\"text-input-id-1\">Details</label>\n" +
                    "                                                        <div class=\"slds-form-element__control\">\n" +
                    "                                                            <input id=\"" + name + "-detail-1\" class=\"slds-input\" type=\"text\"\n" +
                    "                                                                   value=\"\"/>\n" +
                    "                                                        </div>\n" +
                    "                                                    </div>\n" +
                    "                                                </div>\n" +
                    "                                                <div class=\"col-md-3\">\n" +
                    "                                                    <div class=\"slds-form-element\">\n" +
                    "                                                        <label class=\"slds-form-element__label\" for=\"select-01\">Value\n" +
                    "                                                            basis</label>\n" +
                    "                                                        <div class=\"slds-form-element__control\">\n" +
                    "                                                            <div class=\"slds-select_container\">\n" +
                    "                                                                <select class=\"slds-select\" id=\"" + name + "-select-01\">\n" +
                    "                                                                    <option value=\"\">Please select</option>\n" +
                    "                                                                    <option>Option One</option>\n" +
                    "                                                                    <option>Option Two</option>\n" +
                    "                                                                    <option>Option Three</option>\n" +
                    "                                                                </select>\n" +
                    "                                                            </div>\n" +
                    "                                                        </div>\n" +
                    "                                                    </div>\n" +
                    "                                                </div>\n" +
                    "                                                <div class=\"col-md-3\">\n" +
                    "\n" +
                    "                                                    <div class=\"slds-form-element\">\n" +
                    "                                                        <label class=\"slds-form-element__label\"\n" +
                    "                                                               for=\"text-input-id-1\">Value</label>\n" +
                    "                                                        <div class=\"slds-form-element__control\">\n" +
                    "                                                            <input id=\"" + name + "-input-id-1\" class=\"slds-input\" type=\"text\"\n" +
                    "                                                                   value=\"\" placeholder=\"$\"/>\n" +
                    "                                                        </div>\n" +
                    "                                                    </div>\n" +
                    "                                                </div>\n" +
                    "\n" +
                    "                                                <div class=\"col-md-3\">\n" +
                    "                                                    <div class=\"input-group-btn\">\n" +
                    "                                                        <button type=\"button\" class=\"btn add-more slds-button slds-button_brand add-another-button\"\n" +
                    "                                                                type=\"button\" name=\"" + name + "\" onclick=\"addAddressDivElements(this)\">Add another\n" +
                    "                                                        </button>\n" +
                    "                                                    </div>\n" +
                    "\n" +
                    "\n" +
                    "                                            </div>\n" +
                    "                                            </div>\n" +

                    "\n" +
                    "                                        <div id=\"residential-bottom-" + name + "\"></div></div>";

                $('#add-items-above-this').before(text);

            }

        }

        if (!window._laq) {
            window._laq = [];
        }
        window._laq.push(function () {
            liveagent.showWhenOnline('57328000000Kz6n', document.getElementById('liveagent_button_online_57328000000Kz6n'));
            liveagent.showWhenOffline('57328000000Kz6n', document.getElementById('liveagent_button_offline_57328000000Kz6n'));
        });
    </script>

<!--[if lt IE 8]>
<body ontouchstart="" class="lt-ie8" onload="myFunction()"><![endif]--><!--[if IE 8]>
<body ontouchstart="" class="ie8" onload="myFunction()"><![endif]--><!--[if IE 9]>
<body ontouchstart="" class="ie9" onload="myFunction()"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body ontouchstart="" onLoad=loadSprites()>
<!--<![endif]-->


<div class="container-fluid removePadding">

    <div class="chat-box">
        <div class="chat-button-background">
            <h3>Hi Aneesh, </h3>
            <p class="chat-text-para-one">We are here to help!</p>
        </div>

        <div class="bottom-half">
            <div class="floating chat-text-para-two">
                <h4>Start a conversation</h4>
                <h5> We typically reply in a few minutes.</h5>
                <a id="liveagent_button_online_57328000000Kz6n" href="javascript://Chat"
                   style="display: none;padding: 10px 20px 10px 20px;" class="chat-button"
                   onclick="liveagent.startChat('57328000000Kz6n')">Let's Chat</a>
                <div id="liveagent_button_offline_57328000000Kz6n" style="" class="chat-button">We're currently
                    offline
                </div>

            </div>
        </div>

    </div>


    <header class="header-navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="https://image.communications.macquarie.com/lib/fe5e15707d600d7c7310/m/1/macquarie-logo.png"
                         style="height: 30px">
                </div>
            </div>
        </div>
    </header>

    <div class="grey-heading d-none d-lg-block ">


        <div class="row rowWithFullWidth">
            <div class="col-md-12">
                <h1>&nbsp;</h1>
            </div>
        </div>


        <div class="row rowWithFullWidth addedPadding20">

            <div class="col-md-6 ">

                <div class="row ">

                    <div class="col-md-3">

                        <div class="main-summary-banner-boxes">
                            <span class="main-summary-headings">Borrower</span><br/>
                            <h4 class="main-summary-values">Aneesh Singh</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-summary-banner-boxes">
                        <span class="main-summary-headings">Property Price</span><br/>
                        <h4 class="main-summary-values">$1,800,000</h4>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="main-summary-banner-boxes">
                        <span class="main-summary-headings">Loan Amount</span><br/>
                        <h4 class="main-summary-values">$2,000,000</h4>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="main-summary-banner-boxes">
                        <span class="main-summary-headings">Loan Type</span><br/>
                        <h4 class="main-summary-values">Interest Only</h4>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-md-6">

                <div class="row">

                    <div class="col-md-3">
                    <div class="main-summary-banner-boxes">

                        <span class="main-summary-headings">Home Loan</span><br/>
                        <h4 class="main-summary-values">Basic Home Loan</h4>
                    </div>
                    </div>


                    <div class="col-md-4">
                        <div class="main-summary-banner-boxes">

                        <span class="main-summary-headings">Rate</span><br/>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12"><h4 class="main-summary-values">3.89<sup>%pa</sup></h4><h5>
                                Variable rate</h5></div>
                            <div class="col-md-8 col-sm-12 col-xs-12"><h4 class="main-summary-values">3.89<sup>%pa</sup></h4><h5>
                                Comparison rate*</h5></div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="main-summary-banner-boxes">

                        <span class="main-summary-headings">Repayments</span><br/>
                        <h4 class="main-summary-values">$2,351 / month</h4>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="main-summary-banner-boxes">

                        <span class="main-summary-headings">LVR</span><br/>
                        <h4 class="main-summary-values">70%</h4>

                        </div>
                    </div>


                </div>

            </div>
        </div>


        <div class="row rowWithFullWidth addedPadding20">
            <div class="col-md-12">
                <h4 style="margin-top: 40px;">If you have any queries regarding your application, please contact <b>transact@macquarie.com</b></h4>
            </div>
        </div>

        <div class="row rowWithFullWidth">
            <div class="col-md-12">
                <h1>&nbsp;</h1>
            </div>
        </div>

        <div class="row rowWithFullWidth">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="grey-heading d-lg-none">


        <div class="row rowWithFullWidth " style="padding-top: 20px; padding-bottom: 20px">

            <div class="col-md-6">
                <span>Borrower</span><br/>
                <h3>Aneesh Singh</h3>
            </div>

            <div class="col-md-6 pull-right float-right" style="text-align: right;line-height: 35px; "
                 id="chevron-left">
                <button type="button" style="background: none;border:none;" onclick="showFirstHeader()">
                    <span class="slds-icon_container slds-icon-utility-announcement"
                          title="Description of icon when needed">
                      <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                           aria-hidden="true">
                        <use xlink:href="#switch"></use>
                      </svg>
                      <span class="slds-assistive-text">Description of icon when needed</span>
                    </span>

                </button>
            </div>

            <div class="col-md-6 pull-right float-right" style="text-align: right;line-height: 35px; display: none"
                 id="chevron-down">
                <button type="button" style="background: none;border:none;" onclick="hideFirstHeader()">
                    <span class="slds-icon_container slds-icon-utility-announcement"
                          title="Description of icon when needed">
                      <svg class="slds-icon slds-icon-text-default slds-icon_x-small" aria-hidden="true">
                        <use xlink:href="#switch"></use>
                      </svg>
                      <span class="slds-assistive-text">Description of icon when needed</span>
                    </span>

                </button>
            </div>


        </div>


        <div class="row addedPaddingOverall20 grey-heading-mobile rowWithFullWidth" style="display: none;"
             id="mobile-menu-header-1">


            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <h5 class="main-summary-headings">Property Price</h5>
                    <h4 class="main-summary-values">$1,810,000</h4>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <h5 class="main-summary-headings">Loan Amount</h5>
                    <h4 class="main-summary-values">$2,000,000</h4>
                </div>
            </div>

            <div class="row mt-4">

                <div class="col-xs-4 col-sm-4 col-md-4">
                    <h5 class="main-summary-headings">Loan Type</h5>
                    <h4 class="main-summary-values">Interest Only</h4>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <h5 class="main-summary-headings">Rate</h5>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12"><h4 class="main-summary-values">3.89<sup>%pa</sup></h4><h5>
                            Variable rate</h5></div>
                        <div class="col-md-6 col-sm-12 col-xs-12"><h4 class="main-summary-values">3.89<sup>%pa</sup></h4><h5>
                            Comparison rate*</h5></div>
                    </div>
                </div>
            </div>


            <div class="row addedPadding">

                <div class="col-xs-4  col-md-4">
                    <h5 class="main-summary-headings"5>Repayments</h5>
                    <h4 class="main-summary-values">$2,351 / month</h4>
                </div>
                <div class="col-xs-8  col-md-8">
                    <h5 class="main-summary-headings">LVR</h5>
                    <h4 class="main-summary-values">70%</h4>
                </div>

            </div>

        </div>
    </div>


    <div class="d-none d-lg-block ">


        <div class="row rowWithFullWidth">
            <div class="col-md-12">
                <h1>&nbsp;</h1>
            </div>
        </div>


        <div class="row rowWithFullWidth addedPadding20">

            <div class="col-md-12">
                <div class="slds-tabs_default">
                    <ul class="slds-tabs_default__nav" role="tablist">
                        <li class="slds-tabs_default__item" title="Item Two" role="presentation">
                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1"
                               aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">1.
                                About you</a>
                        </li>
                        <li class="slds-tabs_default__item" title="Item Three" role="presentation">
                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1"
                               aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">2.
                                Employment & Address</a>
                        </li>
                        <li class="slds-tabs_default__item " title="Item One" role="presentation">
                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0"
                               aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">3. Tailor
                                your loan</a>
                        </li>
                        <li class="slds-tabs_default__item slds-is-active" title="Item One" role="presentation">
                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0"
                               aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">4. Assets</a>
                        </li>
                        <li class="slds-tabs_default__item" title="Item Two" role="presentation">
                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1"
                               aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">5.
                                Income</a>
                        </li>
                        <li class="slds-tabs_default__item" title="Item Three" role="presentation">
                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1"
                               aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">6.
                                Liabilities</a>
                        </li>
                        <li class="slds-tabs_default__item" title="Item Two" role="presentation">
                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1"
                               aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">7.
                                Expenses</a>
                        </li>
                        <li class="slds-tabs_default__item" title="Item Three" role="presentation">
                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1"
                               aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">8. Final
                                steps</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>

    <div class="blue-heading d-lg-none">


        <div class="row rowWithFullWidth " style="padding-top: 20px; padding-bottom: 20px">

            <div class="col-md-6">
                <span>Step 4.</span><br/>
                <h3>Assets</h3>
            </div>

            <div class="col-md-6 pull-right float-right" style="text-align: right;line-height: 35px; "
                 id="chevron-second-left">
                <button type="button" style="background: none;border:none;" onclick="showSecondHeader()">
                    <span class="slds-icon_container slds-icon-utility-announcement"
                          title="Description of icon when needed">
                      <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                           aria-hidden="true">
                        <use xlink:href="#switch"></use>
                      </svg>
                      <span class="slds-assistive-text">Description of icon when needed</span>
                    </span>

                </button>
            </div>

            <div class="col-md-6 pull-right float-right" style="text-align: right;line-height: 35px; display: none"
                 id="chevron-second-down">
                <button type="button" style="background: none;border:none;" onclick="hideSecondHeader()">
                    <span class="slds-icon_container slds-icon-utility-announcement"
                          title="Description of icon when needed">
                      <svg class="slds-icon slds-icon-text-default slds-icon_x-small" aria-hidden="true">
                        <use xlink:href="#switch"></use>
                      </svg>
                      <span class="slds-assistive-text">Description of icon when needed</span>
                    </span>

                </button>
            </div>


        </div>


        <div class="row addedPaddingOverall20 grey-heading-mobile rowWithFullWidth" style="display: none;"
             id="mobile-menu-header-2">


            <div class="row addedPaddingOverall20">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="#">
                        <h4>
                            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                                 aria-hidden="true">
                                <use xlink:href="#switch"></use>
                            </svg>
                            About you
                        </h4>
                    </a>
                </div>
            </div>
            <div class="row addedPaddingOverall20">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="#">
                        <h4>
                            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                                 aria-hidden="true">
                                <use xlink:href="#switch"></use>
                            </svg>
                            Employment & Address
                        </h4>
                    </a>
                </div>
            </div>


            <div class="row addedPaddingOverall20">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="#">
                        <h4>
                            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                                 aria-hidden="true">
                                <use xlink:href="#switch"></use>
                            </svg>
                            Tailor your loan
                        </h4>
                    </a>
                </div>
            </div>
            <div class="row addedPaddingOverall20">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="#">
                        <h4>
                            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                                 aria-hidden="true">
                                <use xlink:href="#switch"></use>
                            </svg>
                            Income
                        </h4>
                    </a>
                </div>
            </div>
            <div class="row addedPaddingOverall20">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="#">
                        <h4>
                            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                                 aria-hidden="true">
                                <use xlink:href="#switch"></use>
                            </svg>
                            Liabilities
                        </h4>
                    </a>
                </div>
            </div>
            <div class="row addedPaddingOverall20">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="#">
                        <h4>
                            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                                 aria-hidden="true">
                                <use xlink:href="#switch"></use>
                            </svg>
                            Expenses
                        </h4>
                    </a>
                </div>
            </div>
            <div class="row addedPaddingOverall20">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="#">
                        <h4>
                            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                                 aria-hidden="true">
                                <use xlink:href="#switch"></use>
                            </svg>
                            Final steps
                        </h4>
                    </a>
                </div>
            </div>

        </div>
    </div>


    <div class="row rowWithFullWidth addedPadding35 addedMarginTopForMobile">

        <div class="col-md-12 main-form ">
            <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel"
                 aria-labelledby="tab-default-1__item">


                <div class="row flexWrap">

                    <div class="col-md-2">

                        <div class="help-bar-side mt-4 ml-2">
                            <h4>Things to know</h4>
                            <ul>
                                <li>
                                    <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left slds-icon_xx-small"
                                         aria-hidden="true">
                                        <use xlink:href="https://bitbucket.org/30minuteapp/hlappaproval/raw/f393587204ca7b0be2b1a35726f885db35911a4e/icons/utility/switch_60.png"></use>
                                    </svg>
                                    Be at least 18 years old
                                </li>
                                <li>
                                    <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left slds-icon_xx-small"
                                         aria-hidden="true">
                                        <use xlink:href="#switch"></use>
                                    </svg>
                                    Have an Australian address, email and mobile number
                                </li>
                                <li>
                                    <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left slds-icon_xx-small"
                                         aria-hidden="true">
                                        <use xlink:href="#switch"></use>
                                    </svg>
                                    Be applying as an individual or joint applicant
                                </li>
                                <li>
                                    <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left slds-icon_xx-small"
                                         aria-hidden="true">
                                        <use xlink:href="#switch"></use>
                                    </svg>
                                    Have a maximum of 3 properties as security
                                </li>
                                <li>
                                    <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left slds-icon_xx-small"
                                         aria-hidden="true">
                                        <use xlink:href="#switch"></use>
                                    </svg>
                                    If you have more applicants, more than 3 properties or are applying as a company or
                                    trust, you can complete your application by calling us on 13 62 00
                                </li>
                            </ul>
                        </div>

                    </div>
                    <form style="display: contents;" action="https://pages.exacttarget.com/income/" method="post">
                        <div class="col-md-8">


                            <ul class="slds-accordion mt-3">
                                <li class="slds-accordion__list-item">
                                    <section class="slds-accordion__section slds-is-open mb-4" id="section-1">
                                        <div class="slds-accordion__summary">
                                            <h3 class="slds-accordion__summary-heading">
                                                <button type="button" aria-controls="accordion-details-01"
                                                        aria-expanded="true"
                                                        class="slds-button slds-button_reset slds-accordion__summary-action"
                                                        onclick="toggleIcon('section-1')">
                                                    <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                                                         aria-hidden="true">
                                                        <use xlink:href="#switch"></use>
                                                        <!--<use xmlns:xlink="http://www.w3.org/1999/xlink"-->
                                                        <!--xlink:href="#switch"/>-->
                                                    </svg>
                                                    <span class="slds-truncate"
                                                          title="Accordion summary">Realestate asset</span>
                                                </button>
                                            </h3>
                                            <button type="button"
                                                    class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none"
                                                    aria-haspopup="true" onclick="toggleIcon('section-1')">
                                                <svg class="slds-button__icon" aria-hidden="true">
                                                    <use xlink:href="#down"></use>
                                                </svg>
                                                <span class="slds-assistive-text">More Options</span>
                                            </button>
                                        </div>
                                        <div aria-hidden="true" class="slds-accordion__content"
                                             id="accordion-details-01">


                                            <div class="row flexWrap">

                                                <div class="col-md-12">
                                                    <div class="slds-form-element">
                                                        <label class="slds-form-element__label" for="text-input-id-1">Do
                                                            you
                                                            have a real estate property?</label><br/>
                                                        <button type="button" class="slds-button slds-button_brand"
                                                                onclick="showAddressFields()">Yes
                                                        </button>
                                                        <button type="button"
                                                                class="slds-button slds-button_outline-brand"
                                                                onclick="hideAddressFields()">No
                                                        </button>

                                                    </div>
                                                </div>

                                            </div>

                                            <div id="duplicater0">
                                                <div class="row flexWrap">

                                                    <input type="hidden" id="counter-employment" value="0">

                                                    <div class="col-md-4">
                                                        <div class="slds-form-element">
                                                            <label class="slds-form-element__label"
                                                                   for="select-01">Primary purpose</label>
                                                            <div class="slds-form-element__control">
                                                                <div class="slds-select_container">
                                                                    <select class="slds-select" id="select-01">
                                                                        <option value="">Please select</option>
                                                                        <option>Option One</option>
                                                                        <option>Option Two</option>
                                                                        <option>Option Three</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-8">
                                                        <div class="slds-form-element">
                                                            <label class="slds-form-element__label"
                                                                   for="text-input-id-1">Property
                                                                address</label>
                                                            <div class="slds-form-element__control">
                                                                <input id="text-input-id-1" class="slds-input"
                                                                       type="text"
                                                                       value=""
                                                                       placeholder="Unit, Street no., Suburb, State"/>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>


                                            </div>

                                            <div class="row flexWrap " id="addAnotherButton">

                                                <div class="col-md-12 mt-3">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="slds-button slds-button_brand"
                                                                onclick="addDivElements()">Add another
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </section>
                                </li>
                                <li class="slds-accordion__list-item">
                                    <section class="slds-accordion__section slds-is-open" id="section-2">
                                        <div class="slds-accordion__summary">
                                            <h3 class="slds-accordion__summary-heading">
                                                <button type="button" aria-controls="accordion-details-02"
                                                        aria-expanded="false"
                                                        class="slds-button slds-button_reset slds-accordion__summary-action"
                                                        onclick="toggleIcon('section-2')">
                                                    <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"
                                                         aria-hidden="true">
                                                        <use xlink:href="#switch"></use>
                                                    </svg>
                                                    <span class="slds-truncate"
                                                          title="Accordion summary">Select all assets that apply</span>
                                                </button>
                                            </h3>
                                            <button type="button"
                                                    class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none"
                                                    aria-haspopup="true" onclick="toggleIcon('section-2')">
                                                <svg class="slds-button__icon" aria-hidden="true">
                                                    <use xlink:href="#down"></use>
                                                </svg>
                                                <span class="slds-assistive-text">More Options</span>
                                            </button>
                                        </div>
                                        <div aria-hidden="true" class="slds-accordion__content"
                                             id="accordion-details-02">


                                            <div class="row flexWrap">

                                                <div class="col-xs-6 col-sm-6 col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Boat">Boat
                                                    </button>
                                                </div>

                                                <div class="col-md-2 col-sm-6 col-xs-6">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Business Equity">Business
                                                        Equity
                                                    </button>
                                                </div>

                                                <div class="col-md-2 col-sm-6 col-xs-6">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Cash">Cash
                                                    </button>
                                                </div>

                                                <div class="col-md-2 col-sm-6 col-xs-6">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="CMA">CMA
                                                    </button>
                                                </div>

                                                <div class="col-md-2 col-sm-6 col-xs-6">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Cheque Account">Cheque
                                                        Account
                                                    </button>
                                                </div>

                                                <div class="col-md-2 col-sm-6 col-xs-6">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Gifts">Gifts
                                                    </button>
                                                </div>

                                            </div>


                                            <div class="row flexWrap">

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Goodwill of Business">
                                                        Goodwill of Business
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Home Contents">Home
                                                        Contents
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Investment Savings">
                                                        Investment Savings
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Managed Funds">Managed
                                                        Funds
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Motor Vehicle">Motor
                                                        Vehicle
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Other Deposit Account">
                                                        Other Deposit Account
                                                    </button>
                                                </div>

                                            </div>


                                            <div class="row flexWrap">

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Pension Account">Pension
                                                        Account
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Savings Account">Savings
                                                        Account
                                                        Equity
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Shares">Shares
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Stock And Machinery">
                                                        Stock & Machinery
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Superannuation">
                                                        Superannuation
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Term Deposit">Term
                                                        Deposit
                                                    </button>
                                                </div>

                                            </div>


                                            <div class="row flexWrap">

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Boat">Tools of Trade
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="slds-button slds-button_outline-brand select-button-style"
                                                            onclick="createAssets(this)" name="Business Equity">Other
                                                    </button>
                                                </div>
                                            </div>


                                            <div id="add-items-above-this">

                                            </div>
                                        </div>
                                    </section>
                                </li>

                            </ul>


                            <div class="row flexWrap footer-buttons mt-4" id="footer-buttons">

                                <div class="col-md-6 col-sm-6 col-xs-6">

                                    <a href="https://pages.exacttarget.com/tailor/?appid=%%=v(@Needs_Analysis_Applicant__cid)=%%&id=%%=v(@leadid)=%%"
                                       class="slds-button slds-button_neutral">Previous</a>
                                    <button type="button" class="slds-button slds-button_neutral">Cancel</button>

                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <button class="slds-button slds-button_brand">Continue</button>
                                    <button type="button" class="slds-button slds-button_neutral">Save & exit</button>
                                </div>

                            </div>


                        </div>

                    </form>
                </div>


            </div>


        </div>


    </div>

</div>


</body>


%%=ContentAreaByName('my contents\30 Min Pre_approval\Footer')=%%

<div id="footer"></div>



</html>

