<footer>
    <div class="disclaimer">

        <div class="container">
            <div class="row">
                <div class="col-md-2 d-none d-sm-block"></div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <p>This information has been prepared by Macquarie Bank Limited ABN 46 008 583 542 AFSL and
                        Australian
                        Credit Licence 237502 (MBL) and does not take into account your objectives, financial
                        situation or
                        needs. You should consider whether it is appropriate for you.</p>
                    <p>
                        This information has been prepared by Macquarie Bank Limited (MBL) (AFSL and Australian
                        Credit
                        Licence
                        237502) ABN 46 008 583 542 and does not take into account your objectives, financial
                        situation or
                        needs.
                    </p>
                </div>
                <div class="col-md-2 d-none d-sm-block"></div>
            </div>

        </div>
    </div>
</footer>