

Starting Page - https://pages.communications.macquarie.com/Start/ - https://pages.communications.macquarie.com/Start/

Step #1 - https://pages.communications.macquarie.com/Step1/ - https://pages.communications.macquarie.com/Step1/
Step #2 - https://pages.communications.macquarie.com/Step2/ - https://pages.communications.macquarie.com/Step2/
Step #3 - https://pages.communications.macquarie.com/Step3/ - https://pages.communications.macquarie.com/Step3/
Step #4 - https://pages.communications.macquarie.com/Step4/ - https://pages.communications.macquarie.com/Step4/
Step #5 - hhttps://pages.communications.macquarie.com/Step5/ - https://pages.communications.macquarie.com/Step5/
Step #6 - https://pages.communications.macquarie.com/Result/ - https://pages.communications.macquarie.com/Result/

Final Steps - https://pages.communications.macquarie.com/Result/




<select name="AssetType" id="IDWOPZH40YHJLKNVXRL5DPJBJ05HRKMEJDRHUA0RO05KQO15TLB3EB" onchange="SetAssetSubType(this)" onmousewheel="event.cancelBubble=true;return false" data-originalvalue="Boat"><option value="Boat">Boat</option>
    <option value="PersonalEquityInAnyPrivateBusiness">Business Equity</option>
    <option value="Cash">Cash</option>
    <option value="CashManagement">Cash Management Acct</option>
    <option value="ChequeAccount">Cheque Account</option>
    <option value="Gifts">Gifts</option>
    <option value="GoodwillOfBusiness">Goodwill of Business</option>
    <option value="HomeContents">Home Contents</option>
    <option value="InvestmentSavings">Investment Savings</option>
    <option value="ManagedFunds">Managed Funds</option>
    <option value="MotorVehicle">Motor Vehicle</option>
    <option value="Other">Other</option>
    <option value="OtherDepositAccount">Other Deposit Account</option>
    <option value="PensionAccount">Pension Account</option>
    <option value="SavingsAccount">Savings Account</option>
    <option value="Shares">Shares</option>
    <option value="StockAndMachinery">Stock And Machinery</option>
    <option value="Superannuation">Superannuation</option>
    <option value="TermDeposit">Term Deposit</option>
    <option value="ToolsOfTrade">Tools of Trade</option></select>


<select name="LiabilityType" id="IDLGT2WTRZWSDBLXXP22YIKSUNXBA0UO4OKYC52PCLCSLUP1T1LAQC" onchange="nextgen.lim.financialPosition.SetLiabilitySubType(this, false)" onmousewheel="event.cancelBubble=true;return false" data-originalvalue="ATOOrCentrelinkDebt"><option value="ATOOrCentrelinkDebt">ATO Or Centrelink Debt</option>
    <option value="CommercialBill">Commercial Bill</option>
    <option value="ContingentLiability">Contingent Liability</option>
    <option value="CourtRuledDebt">Court Ruled Debt</option>
    <option value="CreditCard">Credit Card</option>
    <option value="HECSHELPDebt">HECS/HELP Debt</option>
    <option value="HirePurchase">Hire Purchase</option>
    <option value="Lease">Lease</option>
    <option value="LineOfCredit">Line Of Credit</option>
    <option value="LoanAsGuarantor">Loan As Guarantor</option>
    <option value="MortgageLoan">Mortgage Loan</option>
    <option value="Other">Other</option>
    <option value="OutstandingTaxation">Outstanding Taxation</option>
    <option value="Overdraft">Overdraft</option>
    <option value="PersonalLoan">Personal Loan</option>
    <option value="StoreCard">Store Card</option>
    <option value="TermLoan">Term Loan</option></select>


<select name="IncomeType" id="IDQTRFBRGCSILYJ5EC5SUAGFIZYOQ0F0RWAT41KRG0QM5G5RXFQFJM" onchange="SetIncomeSubType(this)" style="width:165px;" onmousewheel="event.cancelBubble=true;return false" data-originalvalue="Annuities"><option value="Annuities">Annuities</option>
    <option value="Dividends">Dividends</option>
    <option value="InterestIncome">Interest Income</option>
    <option value="OtherIncome">Other Income</option>
    <option value="SuperannuationInvestmentIncome">SMSF Investment Income</option></select>


<select name="ExpenseType" id="ID30ONRCPSZ2FNDGMAMYEIDNZOVG33WDHGI523UT0I1LPNSAMYOK" onchange="SetExpenseSubType(this)" style="width:170px" onmousewheel="event.cancelBubble=true;return false" data-originalvalue="Childcare"><option value="Childcare">Childcare</option>
    <option value="ChildMaintenance">Child Maintenance</option>
    <option value="ClothingPersonalCare">Clothing &amp; Personal Care</option>
    <option value="Groceries">Groceries</option>
    <option value="Insurance">Insurance</option>
    <option value="InvestmentUtilities">Investment property utilities &amp; rates</option>
    <option value="MedicalHealth">Medical &amp; Health</option>
    <option value="OtherExpenses">Other</option>
    <option value="Education">Education</option>
    <option value="Recreation">Recreation &amp; Entertainment</option>
    <option value="Rent">Rent</option>
    <option value="Transport">Transport</option>
    <option value="TelephoneInternet">Telephone &amp; Internet</option>
    <option value="Utilities">Utilities &amp; Rates</option></select>