@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/helvetica/2A28EB_0_0.eot");
    src: url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/helvetica/2A28EB_0_0.eot?#iefix") format("embedded-opentype"), url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/helvetica/2A28EB_0_0.woff") format("woff"), url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/helvetica/2A28EB_0_0.ttf") format("truetype"), url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/helvetica/2A28EB_0_0.svg#wf") format("svg")
}

@font-face {
    font-family: "Helvetica Neue Medium";
    font-weight: normal;
    font-style: normal;
    src: url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/Helvetica-Neue-Medium/HelveticaNeue.eot");
    src: url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/Helvetica-Neue-Medium/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/Helvetica-Neue-Medium/HelveticaNeue.woff") format("woff")
}

@font-face {
    font-family: "Helvetica Neue Thin";
    font-weight: normal;
    font-style: normal;
    src: url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/Helvetica-Neue-Thin/helveticaneue-thin-webfont.eot");
    src: url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/Helvetica-Neue-Thin/helveticaneue-thin-webfont.eot?#iefix") format("embedded-opentype"), url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/Helvetica-Neue-Thin/helveticaneue-thin-webfont.woff") format("woff")
}

@font-face {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;
    src: url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/icomoon/fonts/icomoon.eot?v=20170901");
    src: url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/icomoon/fonts/icomoon.eot?v=20170901") format("embedded-opentype"), url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/icomoon/fonts/icomoon.woff?v=20170901") format("woff"), url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/icomoon/fonts/icomoon.ttf?v=20170901") format("truetype"), url("https://static.macquarie.com/dafiles/Internet/Furniture/theme/personal/fonts/icomoon/fonts/icomoon.svg#icomoon") format("svg")
}

h1,h2,h3,h4,h5,h6,p,input{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.2em;
}

h5{
    font-size: .8em;
}

sup{
    font-size: 0.6em;
}
body{
    background-color: #f4f4f4;
}
.header-navbar{
    background-color: #000000;
    height: 50px;
    line-height: 50px;
}

.main-div{
    margin:0px auto;
    border-radius: 5px;
    width: 95%;
    max-width: 500px;
}

.inside-main-div{
    background-color: #ffffff;
    min-height: 500px;
    padding: 40px;
}

.full-body{
    background: url("../img/Bitmap.jpg");
    background-size: cover ;
}

.disclaimer{
    background-color: white;
    padding: 30px;
    width: 100%;
    margin-top: 50px;
}

.slds-progress{
 max-width: 100%;
}

.slds-form-element__label{
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

label{
    margin-bottom: 0px;
}

.previous-next-buttons{
    bottom: 30px;
    position: absolute;
    width: 100%;
}

.row{
    flex-wrap: inherit;
}

.slds-icon_small{
    color: #0eb58a;
}

.rowWithFullWidth {
    margin-left: 0;
    margin-right: 0;
}
.addMarginBack {
    margin-left: -15px;
}
.addedPadding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.addedPadding20{
    padding-left: 20px;
    padding-right: 20px;
}
.addedPadding35{
    padding-left: 35px;
    padding-right: 35px;
}
.addedPaddingOverall20{
    padding: 20px;
}

.removePadding{
    padding: 0px;
}

.background-color-grey-row{
    background-color: #F4F4F4;
}
.summary-table{
    border: 1px solid #f4f4f4;
    padding: 10px;
    margin-top: 10px;
    color: #7b7b7b;
}

.summary-table-blue{
    border: 1px solid #EEF7FF;
    padding: 10px;
    margin-top: 10px;
    color: #000000;
}

.background-color-blue-row{
    background-color: #EEF7FF;
}


.grey-heading{
    background-color: #DDDDDE;
}

.blue-heading{
    background-color: #C9E1F5;
}
.flexWrap{
    flex-wrap: wrap;
}

.grey-heading-mobile{
    z-index: 99;
}


.slds-tabs_default__link{
    padding-left: 20px;
    padding-right: 20px;
}

.main-form{
    background-color: #ffffff;
}

.footer-buttons{
    border-top: 1px solid #dddbda;
    padding-top: 20px;
}

.help-bar-side{
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;

}

.slds-form-element__label{
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.left-side-div{
    width: 70%;
    float: left;
    margin-top: 10px;
}

.right-side-div{
    float: right;
    margin-top: 10px;
}

.add-another-button{
    font-size: 1em;
    font-family: Helvetica Neue;
}

.remove-another-button{
    font-size: 1em;
    font-family: Helvetica Neue;
}


.chat-box{
    z-index: 999;
    position: fixed;
    left: 30px;
    bottom: 0px;
    color: white;
    text-decoration: none;
    width: 15%;
    background-color: #ffffff;
    border: 1px solid #0077cb;
}

.chat-button{
    height: 50px;
    width: 90%;
    text-align: center;
    background-color: #ffffff;
    line-height: 50px;
    color: #0072c9;
    border-radius: 5px;
    margin: 20px 0px;

}

.chat-button-background{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0072c3+1,0072c3+33,48a4d6+100,7db9e8+100,5695c9+100 */
    background: #0072c3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0072c3 1%, #0072c3 33%, #48a4d6 100%, #7db9e8 100%, #5695c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0072c3 1%,#0072c3 33%,#48a4d6 100%,#7db9e8 100%,#5695c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0072c3 1%,#0072c3 33%,#48a4d6 100%,#7db9e8 100%,#5695c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072c3', endColorstr='#5695c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 10px;
    height: 100px;
}

.chat-text-para-two{
    color: #000;
}

.bottom-half{
    background-color: #ffffff;
    padding: 20px;
 }
.floating{

    margin-top: -40px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 2px 4px 12px 2px #0000002e;
}

.select-button-style{
    width: 100% !important;
    margin-top: 10px;
    height: 60px;
}


.input-group-btn{
    margin-top: 42px;
}


.icon-image-class{
    height: 15px;
    margin-left: -20px;
    margin-right: 10px;
}
/* When the pattern is matched */
input[type="text"]:valid {
    color: green;
}

input[type="text"]:valid ~ .input-validation::before {
    content: "\2713";
    color: green;
}

/* Unmatched */
input[type="text"]:invalid {
    color: red;
}

@media screen and (max-width: 1024px) {

    .chat-box{
        width: 90%;
    }

    .chat-button-background{
        width: 100%;
        display: none;
    }

    .bottom-half{
        background-color: #0d61af;

    }

    .floating {
        margin-top: -70px;
        background-color: #ffffff;
        padding: 10px;
        box-shadow: 2px 4px 12px 2px #0000002e;
    }

    .chat-button {
        height: 30px;
        width: 90%;
        text-align: center;
        background-color: #ffffff;
        line-height: 50px;
        color: #0072c9;
        border-radius: 5px;
         margin: 0px;
    }

    .addedMarginTopForMobile{
        margin-top: 20px;
    }

}
@media only screen and (max-width: 600px) {
    footer{
        font-size: .7em;
    }
    .inside-main-div{
        min-height: 500px;
    }

    .next-button-right{
        right: 40px;
    }

    .previous-next-buttons{
        bottom: 30px;
        position: absolute;
        width: 100%;
        margin-top: 50px;
    }

    .reduced-font-size{
        font-size: 9px;
    }

    .add-wrap-again{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 600px) {
    footer{
        font-size: .7em;
    }
    .main-div{
        min-height: 80vh;
    }
}